header{
    height: 155px;
    display: flex;
    align-items: center;
}
.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.site-logo img{
    width: 220px;
    height: 88px;
}
.header-menu{
    display: flex;
    justify-content: center;
    ul{
        list-style: none;
        display: flex;
    }
    li{
        margin-right: 75px;
        &:last-child{
            margin-right: 0;
        }
        a{
            text-decoration: none;
            color: var(--white);
        }
        &.current-menu-item{
            border-bottom: 2px solid var(--primaryColor);
        }
    }
}

.header-cta{
    margin-left: 50px;
}